.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: all .2s ease;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

button {
  height: 32px;
  padding: 0 14px;
  font-size: 16px;
  background: #d3d3d3;
  outline: none;
  border: none;
  opacity: 0.8;
  transition: all .2s ease;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  background: #d3d3d3;
}

button:active, button.active, select:active {
  background: #4CAF50;
  opacity: 0.8;
  color: white;
  transition: none;
}

input, select {
  height: 32px;
  padding: 0 10px;
  font-size: 16px;
  background: #d3d3d3;
  outline: none;
  border: none;
  appearance: none;
  cursor: text;
}

select {
  padding: 0 0 0 14px;
  border-right: 14px solid #d3d3d3;
  cursor: default;
}

input[type=number] {
  width: 5em;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b1ccb2;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #4caf50;
}
::-webkit-scrollbar-thumb:active {
  background: #409a44;
}
::-webkit-scrollbar-track {
  background: wheat;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: wheat;
}
::-webkit-scrollbar-track:active {
  background: wheat;
}
::-webkit-scrollbar-corner {
  background: wheat;
}
